* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.c-debug {
  background-color: aqua;
  border: 1px solid black;
}

.centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

.c-flex {
  display: flex;
}

/* HEADER  */

header {
  height: 70px;
  background-color: #FC6900;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 5px 0px black;
  z-index: 2;
}

header .header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}

header .menu-header li a{
text-decoration: none;
color: white;
font-weight: 600;
font-size: 1rem;
}

header .menu-header li {
  display: inline;
}

header .logo-header {
  width: 200px;
  justify-content: center;
}

header .logo-header img {
  width: 150px;
}

header .list-header li {
  display: inline;
  margin: 5px;
}

/* MAIN */

main .container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  margin-top: 120px;
  justify-content: center;
}

main .card {
  width: 420px;
  display: inline-block;
  margin: 0px 7px 45px 7px;
  cursor: pointer;
}

main .card .top img {
  width: 420px;
}  

main p {
  font-weight: 300;
  font-size: .9rem;
}

main .top {
  position: relative;
}

main .top .img-hover {
  display: none;
}


/* HOVER CARD */


main .top:hover .image-prod {
  display: none;
}

main .top:hover .img-hover {
  display: block;
}



main .banner {
  position: absolute;
  bottom: 50px;
}

main .top .red-discount {
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: .8rem;
  display: inline-block
}

main .green {
  background-color: green;
  color: white;
  padding: 5px 10px;
  font-size: .8rem;
  display: inline-block
}

main .top p {
  font-weight: 700;
}

main .price {
  color: red;
}

main .discount {
  text-decoration: line-through;
}

main .bottom h2 {
  font-size: 20px;
  font-weight: 500;
}

main .top .heart {
  position: absolute;
  top: 10px;
  right: 0px;
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
